* {
    font-family: 'Open Sans', sans-serif;
}
html, body {
    background-color: #f7f7f7;
    text-align: center;
}

/*==============Header====================*/

#top {
    background-color: #ccc;
    padding: 20px;
}

.intro {
    color: yellow;
    font-weight: bold;
}

/*=======================================*/

.center{
    display: inline-block;
    height: 250px;
}

li {
    margin: 3em;
    color: red;
}

section li + li {
    color: green;
}

#mid {
    background-color: #ccc;
    padding: 20px;
}

section th {
    color: yellow;
}

tr  > td {
    color: green;
}

thead {
    background: gray;
}

tbody {
    background: #ccc;
}

/*==============Footer====================*/

footer a:hover {
  color: #ff5f52;
    text-decoration: none;
}

footer ul > li{
	list-style: none;
	display:inline;
}
footer li a {
	color: #bcbcbc;
    text-decoration: none;
}

/*=======================================*/
